.navigation{
    height           : 44px;
    background-color : #2a82e4;

    img{
        width  : 32px;
        margin : auto 16px;
    }

    > .title{
        max-width   : 70%;
        font-family : PingFangSC-Regular;
        font-size   : 18px;
        color       : #fff;
        margin      : auto;
    }
}
