.basic-info{
    flex-grow        : 1;
    overflow         : auto;
    flex-shrink      : 1;
    background-color : #F5F6FB;
    font-family      : PingFangSC-Regular;

    .info-saved{
        .za-cell__footer{
            color : #777575;
        }
    }

    .info-unsaved{
        .za-cell__footer{
            color : #f8181f;
        }
    }

    .unsaved{
        margin        : 16px;
        line-height   : 40px;
        text-align    : center;
        border-radius : 5px;
        font-size     : 16px;
        background    : #abafb0;
        color         : #fff;

    }

    .saved{
        background : #4f67e5;
    }
}
