.basic-info{
    flex-grow        : 1;
    overflow         : auto;
    flex-shrink      : 1;
    background-color : #F5F6FB;
    font-family      : PingFangSC-Regular;

    .info-saved{
        .za-cell__footer{
            color : #777575;
        }
    }

    .info-unsaved{
        .za-cell__footer{
            color : #f8181f;
        }
    }

    .unsaved{
        margin        : 16px;
        line-height   : 40px;
        text-align    : center;
        border-radius : 5px;
        font-size     : 16px;
        background    : #abafb0;
        color         : #fff;
    }

    .saved{
        background : #4f67e5;
    }
}

.basic-info-entry{
    flex-grow        : 1;
    overflow         : auto;
    flex-shrink      : 1;
    background-color : #F5F6FB;
    font-family      : PingFangSC-Regular;

    .za-cell{
        .za-cell__inner{
            min-height : 44px;

            .za-cell__body{
                .za-cell__title{
                    padding : 12px 0;
                }

                .za-cell__content{
                    .za-date-select{
                        .za-date-select__input{
                            line-height : 20px;
                            text-align  : end;

                            &::after{
                                top : 14px;
                            }
                        }
                    }

                    .za-checkbox{
                        flex-shrink : 0;

                        .za-checkbox__inner{
                            border-radius : 50%;
                        }
                    }

                    .za-select__input{
                        line-height : 20px;
                        text-align  : end;

                        &::after{
                            top : 14px;
                        }
                    }
                }
            }

            .za-cell__footer{
                font-size : 14px;
            }
        }
    }

    .office-address{
        margin-bottom    : 8px;
        padding-bottom   : 8px;
        background-color : #fff;

        .za-input{
            background-color : #fff;
            margin           : 0 16px;
            border           : 1px solid #93938f;
            width            : unset;
        }
    }

    .show-register-capital{
        margin-bottom : 8px;

        .za-select__input{
            line-height : 20px;
            text-align  : end;

            &::after{
                top : 14px;
            }
        }

        .za-cell__title{
            min-width : 8em;
        }

        .za-input{
            background-color : #fff;
            line-height      : 20px;
            padding          : 11px 0;

            > input{
                text-align    : end;
                padding-right : 20px;
            }
        }
    }

    .business-scope{
        margin-bottom : 8px;

        .za-cell{
            .za-cell__title--label{
                width : 5em;
            }

            &::after{
                display : none;
            }
        }

        .za-input{
            flex-grow : 1;
            width     : unset;
            margin    : 6px 0;
            padding   : 0;
            border    : 1px solid #bdb7b7;
        }
    }

    .not-input{
        border : 1px solid #f00 !important;
    }

    .unsaved{
        margin        : 16px;
        line-height   : 40px;
        text-align    : center;
        border-radius : 5px;
        font-size     : 16px;
        background    : #abafb0;
        color         : #fff;

    }

    .saved{
        background : #4f67e5;
    }
}

.customer-type{
    flex-grow        : 1;
    overflow         : auto;
    flex-shrink      : 1;
    background-color : #F5F6FB;
    font-family      : PingFangSC-Regular;

    .not-input{
        .za-select__value{
            border : 1px solid #f00 !important;
        }
    }

    .space{
        height : 8px;
    }

    .second-level-cell{
        padding-left     : 12px;
        background-color : #f1efef;
    }

    .za-cell{
        .za-cell__inner{
            min-height : 44px;
            font-size  : 14px;

            .za-cell__body{
                .za-cell__title{
                    padding   : 12px 0;
                    min-width : 12em;
                }

                .za-cell__content{
                    .za-select__input{
                        line-height : 20px;
                        text-align  : end;

                        //.za-select__value{
                        //    text-align : justify;
                        //    display    : inline-block;
                        //}

                        &::after{
                            top : 14px;
                        }
                    }

                    .za-input{
                        padding   : 11px 0;
                        font-size : 14px;

                        > input{
                            text-align    : end;
                            padding-right : 20px;
                        }
                    }
                }
            }

            .za-cell__footer{
                font-size : 14px;
            }
        }

        &::after{
            display : none;
        }
    }

    .second-title{
        font-family  : PingFangSC-Medium;
        height       : 44px;
        padding-left : 20px;
        line-height  : 44px;
    }

    .agency-type{
        background-color : #fff;
        padding          : 6px 0;
        display          : flex;
        flex-flow        : row wrap;
        align-content    : flex-start;

        > div{
            font-size        : 14px;
            margin           : 4px;
            padding          : 4px 24px;
            background-color : #F5F6FB;
            border           : 1px solid #F5F6FB;
            border-radius    : 4px;
            flex-grow        : 1;
            text-align       : center;
        }

        .select{
            border : 1px solid #2a82e4;
            color  : #2a82e4;
        }
    }

    .warning{
        display          : flex;
        padding          : 10px 0;
        background-color : #fff;

        color            : #ffa500;
        font-family      : PingFangSC-Regular;
        font-size        : 14px;

        > img{
            margin-left  : 8px;
            margin-right : 8px;
            height       : 16px;
            width        : 16px;
            display      : block;
        }
    }

    .operate-time{
        background-color : #fff;
        padding-left     : 16px;
        font-size        : 12px;

        > span{
            margin-left : 16px;
            color       : blue;
        }
    }

    .unsaved{
        margin        : 16px;
        line-height   : 40px;
        text-align    : center;
        border-radius : 5px;
        font-size     : 16px;
        background    : #abafb0;
        color         : #fff;
    }

    .saved{
        background : #4f67e5;
    }

    .account-manager{
        margin-bottom : 60px;

        .title{
            font-family : PingFangSC-Medium;
            font-size   : 16px;
            color       : #363636;
            margin      : 10px 0 10px 16px;
        }

        .add-account{
            background    : #FFFFFF;
            border        : 1px solid #2A82E4;
            border-radius : 8px;

            margin        : 16px;
            line-height   : 40px;
            text-align    : center;
            font-size     : 16px;
            color         : #2A82E4;
        }

        .account{
            background-color : #fff;
            margin-bottom    : 16px;

            .delete{
                font-family : PingFangSC-Regular;
                font-size   : 14px;
                color       : #DE1B1B;
                text-align  : right;

                > span{
                    margin  : 4px 16px 0 0;
                    display : inline-block;
                }
            }
        }
    }
}

