.lp-cell{
    justify-content : space-between;
    padding         : 0 16px;
    font-family     : PingFangSC-Regular;
    font-size       : 14px;
    letter-spacing  : 0;

    .label{
        flex-shrink : 0;
        padding     : 6px 16px 6px 0;
        line-height : 20px;
        color       : #999;
        min-width   : 4em;
    }

    .value{
        color       : #333;
        line-height : 20px;
    }
}
