.todolist{
    margin        : 4px;
    border-radius : 2px;

    .todo{
        border        : 1px solid #ddd;
        border-radius : 2px;
        height        : 40px;
        line-height   : 40px;

        input{
            vertical-align : middle;
            margin-right   : 6px;
            position       : relative;
        }

        button{
            float            : right;
            color            : #fff;
            background-color : #b10808;
            border           : none;
        }
    }
}
