html, body{
    margin  : 0;
    padding : 0;
    height  : 100%;
    width   : 100%;
}

#root{
    font-family             : PingFangSC-Regular, PingFangSC-Medium, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing  : antialiased;
    -moz-osx-font-smoothing : grayscale;
    height                  : 100%;
    width                   : 100%;
    display                 : flex;
    flex-direction          : column;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar{
    width            : 0;
    height           : 0;
    background-color : #f5f5f5;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track{
    -webkit-box-shadow : inset 0 0 1px rgba(0, 0, 0, 0);
    border-radius      : 10px;
    background-color   : #f5f5f5;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb{
    border-radius      : 10px;
    -webkit-box-shadow : inset 0 0 6px rgba(0, 0, 0, .3);
    background-color   : #555;
}

//非输入框禁用复制
:not(input, textarea){
    -webkit-touch-callout : none;
    user-select           : none;
    -webkit-user-select   : none;
    -moz-user-select      : none;
    -ms-user-select       : none;
    word-wrap             : break-word;
}

.flex-inline{
    display     : flex;
    align-items : center;

    > .strong{
        flex-grow   : 1;
        flex-shrink : 1 !important;
    }
}

.flex-list{
    display        : flex;
    flex-direction : column;

    // 子代元素，不加> ：所有子孙代元素
    > :nth-child(n){
        flex-shrink : 0;
    }

    .flex-grow{
        flex-grow   : 1;
        flex-shrink : 1;
        overflow    : auto;
    }

    > .strong{
        flex-grow   : 1;
        flex-shrink : 1 !important;
    }
}

.hide{
    display : none;
}

//小三角
.khjdBorder{
    border-width : 100px;
    border-color : transparent #0F0 transparent transparent;
    border-style : solid;
    width        : 0;
    height       : 0;
}

.za-cell{
    .za-cell__inner{

        .za-cell__body{
            .za-cell__title{
                font-family : PingFangSC-Medium;
                font-size   : 14px;
            }
        }

        .za-cell__footer{
            font-size   : 14px;
        }
    }
}
